<div class="container max-w-2xl mx-auto p-4">
  <h1 class="text-center text-3xl font-bold mb-6"><%= t('.title') %></h1>

  <div class="mb-8">
    <h2 class="text-xl font-semibold mb-4"><%= t('.user_result') %></h2>
    <div class="bg-gray-100 p-3 rounded-md text-center">
      <p><strong><%= GiftSuggestion.human_attribute_name(:age) %>:</strong> <%= @gift_suggestion.age %></p>
      <p><strong><%= GiftSuggestion.human_attribute_name(:gender) %>:</strong> <%= I18n.t("enums.gift_suggestion.gender.#{@gift_suggestion.gender}") %></p>
      <p><strong><%= GiftSuggestion.human_attribute_name(:business) %>:</strong> <%= @gift_suggestion.business %></p>
      <p><strong><%= GiftSuggestion.human_attribute_name(:hobbies) %>:</strong> <%= @gift_suggestion.hobbies.join(", ") %></p>
      <p><strong><%= GiftSuggestion.human_attribute_name(:interest) %>:</strong> <%= @gift_suggestion.interest %></p>
      <p><strong><%= GiftSuggestion.human_attribute_name(:purpose) %>:</strong> <%= @gift_suggestion.purpose %></p>
      <p><strong><%= GiftSuggestion.human_attribute_name(:relationship) %>:</strong> <%= @gift_suggestion.relationship %></p>
    </div>
  </div>

  <div>
    <% if @gift_suggestion.result.present? %>
      <p class="text-lg font-semibold mb-4"><%= t('.ai_result') %></p>
      <div class="bg-white p-4 rounded-lg shadow-md text-center">
        <div class="flex items-center justify-center">
          <%= @gift_suggestion.result %>
          <div class="ml-4">
            <%= link_to 'Tweet', 'https://twitter.com/share', class: 'twitter-share-button py-2 px-4',
              data: {
                size: 'large',
                text: t('.post_text', result: @gift_suggestion.result),
                url: 'https://foryou-9e28d89ec5bb.herokuapp.com',
                show_count: 'false',
                lang: "ja"
              },
              target: '_blank' %>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    <% else %>
      <p class="text-red-600"><%= t('.no_result') %></p>
    <% end %>
  </div>

  <% if @items.any? %>
    <h2 class="text-center text-xl font-bold my-4"><%= t('.rakuten_title') %></h2>
    <div class="flex flex-wrap justify-between">
      <% @items.each do |item| %>
        <div class="flex flex-col items-center w-1/3 p-4">
          <%= link_to item.url, target: "_blank" do %>
            <% if item.medium_image_urls.present? %>
              <%= image_tag item.medium_image_urls.first, class: 'w-full h-auto' %>
            <% end %>
            <h3 class="text-lg font-semibold mt-2">
              <%= item.name %>
            </h3>
            <p class="mt-1"><%= item.price %>円</p>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="flex justify-center mt-4">
      <%= link_to t('.rakuten_more_link'), "https://search.rakuten.co.jp/search/mall/#{CGI.escape(@gift_suggestion.result)}", target: "_blank", class: "bg-blue-500 hover:bg-blue-400 text-white rounded px-4 py-2" %>
    </div>
  <% else %>
    <div class="flex justify-center mt-4">
      <%= link_to t('.google_search_link'), "https://www.google.com/search?q=#{CGI.escape(@gift_suggestion.result)}", target: "_blank", class: "bg-blue-500 hover:bg-blue-400 text-white rounded px-4 py-2" %>
    </div>
  <% end %>
  <div class="flex justify-around mt-8">
    <%= link_to t('.suggestion_again'),  new_user_gift_suggestion_path(current_user), class: "bg-green-500 hover:bg-green-400 text-white rounded px-4 py-2" %>
    <%= link_to t('.back_to_list'), user_gift_suggestions_path(current_user), class: "bg-gray-500 hover:bg-gray-400 text-white rounded px-4 py-2" %>
  </div>
</div>
