<%= search_form_for @q, url: url, class: "flex flex-wrap justify-center items-center space-x-2" do |f| %>
  <div class="flex space-x mb-2">
    <%= f.number_field :user_age_gteq, class: "form-input w-32 border-gray-300 shadow-sm px-1", placeholder: User.human_attribute_name(:age) %>
    <%= f.label :user_age_lteq, "〜" %>
    <%= f.number_field :user_age_lteq, class: "form-input w-32 border-gray-300 shadow-sm px-1", placeholder: User.human_attribute_name(:age) %>
  </div>
  <div class="mb-2">
    <%= f.search_field :user_business_cont, class: "form-input w-64 border-gray-300 shadow-sm px-1", placeholder: User.human_attribute_name(:business) %>
  </div>
  <div class="mb-2">
    <%= f.search_field :user_hobby_cont, class: "form-input w-64 border-gray-300 shadow-sm px-1", placeholder: User.human_attribute_name(:hobby) %>
  </div>
  <div class="mb-2">
    <%= f.search_field :item_name_or_description_cont, class: "form-input w-64 border-gray-300 shadow-sm px-1", placeholder:  t('wish_lists.index.search_word') %>
  </div>
  <%= f.submit t('memos.index.search'), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline" %>
<% end %>