<% content_for(:title, t('.title')) %>
<%= javascript_include_tag 'background_image_preview' %>
<%= javascript_include_tag 'new_message_card' %>
<div class="container mx-auto p-4">
  <div class="flex">
    <h1 class="text-xl font-bold mb-4"><%= t('.title') %></h1>
    <%= link_to t('.index'), message_cards_path, class: "bg-green-400 hover:bg-green-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline ml-5 mb-3", data: { turbo: false } %>
  </div>
  <div class="flex flex-col md:flex-row justify-between">
    <div class="w-full mb-8 md:mb-0 md:max-w-lg">
      <%= form_with(model: @message_card, url: message_cards_path, local: true, data: { turbo: false }, class: "w-full max-w-lg") do |f| %>
        <%= render 'form_fields', f: f %>
      <% end %>
      <div class="mt-8 p-4 bg-gray-100 rounded-lg shadow-inner">
        <h2 class="text-lg font-semibold mb-3"><%= t('instructions.title') %></h2>
        <ul class="list-disc pl-5">
          <% t('instructions.steps').each do |step| %>
            <li><%= step %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="image_preview" class="w-full md:w-1/2 relative">
      <div id="image_container" class="absolute inset-0">
        <!--  background_imageの表示  -->
      </div>
      <div class="absolute inset-0 flex flex-col items-center p-24 lg:p-28 ">
        <div id="preview-recipient-name" class="text-2xl text-black">
          <!-- recipient_nameの表示 -->
        </div>
        <div id="preview-message" class="text-xl text-black mt-4 flex-grow whitespace-pre-wrap">
          <!-- messageの表示 -->
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  let urls = <%= raw @background_images_urls.to_json %>;
</script>