<div class="container max-w-md">
  <div class="flex justify-center space-x-2 mb-5">
    <div class="w-8 h-8 rounded-full bg-gray-500 text-center leading-8">1</div>
    <div class="w-8 h-8 rounded-full bg-gray-500 text-center leading-8">2</div>
    <div class="w-8 h-8 rounded-full bg-blue-200 text-white text-center leading-8">3</div>
  </div>
  <h1 class="mb-5 text-4xl text-center"><%= t('.title') %></h1>
  <%= form_for @user, url: users_path, local: true,  html: { id: "registration_form", class: "w-96 mx-auto p-6 bg-white rounded-lg shadow-md"} do |f| %>
    <%= f.fields_for :wish_lists, @user.wish_lists.build do |wl| %>
      <div class="mb-4">
        <%= wl.label :item_name, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= wl.text_field :item_name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outlin " %>
      </div>
      <div class="mb-4">
        <%= wl.label :description, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= wl.text_field :description, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outlin " %>
      </div>
    <% end %>
    <div class="flex items-center justify-between">
      <%= f.submit t('.submit'), class: " mx-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>