<div class="container max-w-md">
  <div class="flex justify-center space-x-2 mb-5">
    <div class="w-8 h-8 rounded-full bg-blue-500 text-white text-center leading-8">1</div>
    <div class="w-8 h-8 rounded-full bg-gray-200 text-center leading-8">2</div>
    <div class="w-8 h-8 rounded-full bg-gray-200 text-center leading-8">3</div>
  </div>
  <h1 class="mb-5 text-4xl text-center"><%= t('.title') %></h1>
    <%= form_for @user, url: step2_users_path, method: :get, local: true, class: "w-96 mx-auto p-6 bg-white rounded-lg shadow-md" do |f| %>
      <div class="mb-4">
        <%= f.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-4">
        <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.email_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-4">
        <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-4">
        <%= f.label :password_confirmation, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.password_field :password_confirmation, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="flex items-center justify-between">
        <%= f.submit t('.next_step'), class: " mx-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
</div>
  