<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold text-center mb-10">メモ一覧</h1>

  <div class="mt-4 mb-10 overflow-auto">
    <table class="min-w-full table-auto bg-white rounded-lg shadow">
      <thead class="bg-gray-200">
        <tr>
          <th class="px-4 py-2 text-left">誰にもらったか</th>
          <th class="px-4 py-2 text-left">何をもらったか</th>
          <th class="px-4 py-2 text-left">いつもらったか</th>
        </tr>
      </thead>
      <tbody>
      <% @memos.each do |memo| %>
        <tr class="hover:bg-gray-100">
          <td class="border px-4 py-2"><%= memo.name %></td>
          <td class="border px-4 py-2"><%= memo.goods %></td>
          <td class="border px-4 py-2">
            <div class="flex flex-col sm:flex-row justify-between items-center">
              <span class="mb-2 sm:mb-0"><%= memo.time.strftime('%Y/%m/%d') if memo.time %></span>
              <span>
                <%= link_to '編集', edit_user_memo_path(current_user, memo), class: "text-blue-500 hover:text-blue-700 mr-2" %>
                <%= link_to '削除', user_memo_path(current_user, memo), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "text-red-500 hover:text-red-700" %>
              </span>
            </div>
          </td>
        </tr>
      <% end %>      
      </tbody>
    </table>
  </div>
</div>
